@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #3b82f6;
}

body {
  background-color: #fafafa;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #18181b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark {
  background-color: #09090b;
  color: #f4f4f5;
}
